/* Navbar styles */
.navbar {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: left;
  margin-top: 10px;
  flex-grow: 1;
  justify-content: center; /* Centering menu items */
}

.nav-menu .spacer {
  flex-grow: 1;
}

.nav-links-signup {
  margin-left: auto;
}

.nav-item {
  height: 38px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  background: #242121;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin: 0;
  padding: 0;
}

.nav-links-mobile {
  display: block;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: none;
  transition: all 0.3s ease-out;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .menu-icon {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
  }

  .nav-menu .spacer {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .nav-links-mobile {
    display: block;
    padding: 14px 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 5px;
  }

  /* Align mobile menu to the center */
  .nav-menu.active {
    text-align: center;
    justify-content: center;
    padding: 0;
    gap: 10px;
  }
}

/* Desktop Menu Alignment and Spacing */
@media screen and (min-width: 961px) {
  .nav-menu {
    text-align: right;
    margin-top: 10px;
  }
}

.nav-menu .nav-item {
  margin: 5px 0; /* Compact spacing */
}

.menu-icon {
  font-size: 1.6rem;
  top: 25px;
  right: 25px;
}

@media screen and (max-width: 460px) {
  body {
    font-size: 16px;
  }

  .nav-links-mobile {
    font-size: 1rem;
    padding: 8px 10px;
    border-color: #242121;
  }

  .menu-icon {
    font-size: 1.5rem;
  }
}
